:root{
    --header-background-color: #333333;
    --background-color1:#2A2A2A;
    --background-color2:#3C2F41;
    --text-color:#E0E0E0;
    --header-color:#B2D8B7;
    --headings-color:#D4BFF9;
    --footer-color:#2C3E50;
    --icon-color:#2E8B57;
}