:root{
    --primary-color:#2C3E50;
    --secondary-color:#E0E0E0;
    --tertiary-color:#17181c;
    --headings-color:#142435;
    --color1:#2e8b57;
    --color2:#fa8072;
    --color3:#da70d6;
    --color4:#6b8e23;
}
/* header and navigation bar  */
header ,footer{
    background:var(--primary-color);
}
#navbar a, footer i{
    color:var(--secondary-color);
}
#navbar a:hover{
    color:var(--color3);
    text-decoration: underline;
}

h2{
    color:var(--headings-color);
}
/* home section */
.home h1{
    color:var(--headings-color);
}
#about h2{
    border-bottom: 2px solid var(--color2);
}
#skills h2{
    border-bottom: 2px solid var(--color3);
}
#portfolio h2{
    border-bottom: 2px solid var(--color1)
}
#contact h2{
    border-bottom: 2px solid var(--color4);
}
/* skills-section */
.rate-percent{
    background: var(--secondary-color);
}
.rate{
    background: var(--headings-color);
    color:var(--secondary-color);
}
p{
   color:var(--tertiary-color);
}
/* portfolio section and contact*/
.description a ,button{
    background: var(--headings-color);
    color:var(--secondary-color);
    transition: transform 0.5s ease, background .3s ease-in-out 
}
.description a:hover ,button:hover{
    background: var(--secondary-color);
    color:var(--headings-color);
    transform: scale(1);
}
.description h3{
    color:var(--headings-color);
}
.project-tile{
    box-shadow: 5px 5px 5px #f2f2f2,-5px -5px 5px #f2f2f2;
    border:1px solid #ccc;
}
button:hover{
    border:2px solid var(--headings-color);
}
/* footer */
footer i:hover{
    background:var(--secondary-color);
    color:var(--tertiary-color);
}